# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f3013728811193f8a5aebe0324afdaa7616488c2dcae9643d3c55639f47cebd4d40306eb3e5b89482296c6ef281ff28f1e90060285280f49275285148687585d

test:
  secret_key_base: 524648e0c74cf1f4d2d0818dd26c2ca892afeb58ba5fdba9dcfd4e0165c000c3244876b70c79c1abcd586a1f91bcb54d17eff07e90c6212e98ec4032c48857dd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
